.InfoLayout{
    width: 1200px;
    background-color: #e7e7e7;
    margin-top: 175px;
    z-index: 2;
    margin-bottom: 35px;
    padding-bottom: 10px;
    position: absolute;
    padding-right: 30px;
    margin-left: 20%;

}