.Modal {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  background:  white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  z-index: 6;
}

#ModalClose{
  background-color: #f2f2f2; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: black;
  border: 2px solid #555555;
  transition-duration: 0.4s;
  margin-left: 10%;
  border-radius: 10px;
}

#ModalClose:hover{
  background-color: #555555;
  color: white;
}